.code-box {
	background-color: ;
}

.grey-code {
	background-color: #DCDCDC;
	letter-spacing: 1px;
	font: Liberation Mono,Consolas,Menlo,Courier,Monospace;
}

.square {
	width: 500px;
	height: auto;
	background-color: red;
}

mark {
	font-style: italic;
}